<div class="user-details articles-section">
    <h1 class="section-title">Articles & Publications</h1>
    <div class="articles-grid">
        <div class="article-category">
            <h3>Leadership & Culture</h3>
            <ul class="articles-list">
                <li>
                    <a href="https://www.linkedin.com/pulse/building-culture-psychological-safety-sanchit-balchandani-iruhc/?trackingId=7%2Bt5y9eoSy%2BbbZh3hfO59g%3D%3D" target="_blank">
                        Building Culture of Psychological Safety
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/pulse/building-strong-bonds-your-engineering-teams-sanchit-balchandani/" target="_blank">
                        Building Strong Bonds in Your Engineering Teams
                    </a>
                </li>
                <li>
                    <a href="https://www.epam.com/careers/blog/empathy-an-essential-skill-for-the-modern-engineer?utm_source=linkedin&utm_medium=social&utm_campaign=ta&utm_term=blog&utm_content=india-empathy&sf152401930=1" target="_blank">
                        Empathy: An Essential Skill for the Modern Engineer
                    </a>
                </li>
            </ul>
        </div>
        <div class="article-category">
            <h3>Technical & Cloud</h3>
            <ul class="articles-list">
                <li>
                    <a href="https://www.linkedin.com/pulse/harnessing-aws-glue-high-volume-json-processing-sanchit-balchandani/" target="_blank">
                        Harnessing AWS Glue for High-Volume JSON Processing
                    </a>
                </li>
                <li>
                    <a href="https://dev.to/epam_india_python/how-to-migrate-python-2-projects-to-3-some-useful-tips-1kid" target="_blank">
                        How to Migrate Python 2 Projects to 3: Some Useful Tips
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>