<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:sanchit@inovizz.com"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Twitter" target="https://twitter.com/inovizz" href="https://twitter.com/inovizz"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
        <a aria-label="My LinkedIn" target="https://linkedin.com/in/inovizz" href="https://linkedin.com/in/inovizz"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="https://github.com/inovizz" href="https://github.com/inovizz"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        <a aria-label="Resume" target="/resume.pdf" href="/resume.pdf"><i class="icon fa fa-resume-alt" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" target="#about" href="#about" data-scroll>About Me</a>
        <a class="link" target="#skills" href="#skills" data-scroll>Skills</a>
        <a class="link" target="#talks" href="#talks" data-scroll>Talks</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
