<div class="skills-section">
  <h1 class="section-title">Skills</h1>
  <div class="skills-grid">
    <div class="skill-category">
      <h3>Backend</h3>
      <p>Python, Django, Flask, Redis, Celery, MySql, Mongo, NodeJs, Typescript</p>
      <div class="skill-icons">
        <img src="/assets/img/python.png" width="30" height="30" />
        <img src="/assets/img/django.png" width="60" height="30" />
        <img src="/assets/img/flask.png" width="40" height="30" />
        <img src="/assets/img/nodejs.png" width="40" height="25" />
        <img src="/assets/img/mongodb.png" width="80" height="30" />
      </div>
    </div>
    <div class="skill-category">
      <h3>Frontend</h3>
      <p>JavaScript, ReactJS(Novice), HTML and JQuery</p>
      <div class="skill-icons">
        <img src="/assets/img/html.png" width="35" height="30" />
        <img src="/assets/img/js.png" width="30" height="30" />
        <img src="/assets/img/react.png" width="40" height="30" />
      </div>
    </div>
    <div class="skill-category">
      <h3>DevOps</h3>
      <p>Docker, Terraform, AWS, Jenkins, Gitlab-CI, Git, Gitlab, Azure DevOps</p>
      <div class="skill-icons">
        <img src="/assets/img/docker.png" width="90" height="30" />
        <img src="/assets/img/aws.png" width="90" height="30" />
        <img src="/assets/img/tf.png" width="90" height="30" />
        <img src="/assets/img/jenkins.png" width="50" height="30" />
        <img src="/assets/img/git.png" width="60" height="30" />
      </div>
    </div>
  </div>
</div>