<div class="user-details">
<h1> Featured Talks</h1>
<h3>2020</h3>
<a href="https://www.youtube.com/watch?v=UHvNgimuEuk">Static Typing in Python at PyCon India 2020</a></br>
<a href="https://www.youtube.com/watch?v=8yHzEUg_mX4">Simplified Deployment into Cloud using Docker Desktop at OSCONF Hyderabad 2020</a></br>
<a href="https://github.com/inovizz/python-for-devops">Python for DevOps Workshop at EPAM India</a></br>
<a href="https://www.meetup.com/HydPyGroup/events/267936005/">Static Typing in Python at VZTecConvene, Jan 2020</a></br>
<h3>2019</h3>
<a href="https://pyconf.hydpy.org/2019/index.html#schedule-section">Containarized Development using Docker at PyConf Hyderabad 2019</a></br>
<a href="https://in.pycon.org/cfp/workshops-2019/proposals/demystifying-docker-for-devs~e9WPb/">Demystifying Docker for Devs at PyCon India 2019</a></br>
</ul>
</div>
