<div class="user-details featured-talks-section">
    <h1 class="section-title">Featured Talks</h1>
    <ul class="talks-list">
        <li>
            <h3>2025</h3>
            <a href="https://www.linkedin.com/feed/update/urn:li:activity:7375126391287291904/">Deep Agents Talk at EPAM.AI Conference</a>
        </li>
        <li>
            <h3>2024</h3>
            <a href="https://www.linkedin.com/feed/update/urn:li:activity:7251579437551398915/">RAG Workshop at OpenSource Conference</a>
        </li>
        <li>
            <h3>2020</h3>
            <a href="https://www.youtube.com/watch?v=UHvNgimuEuk">Static Typing in Python at PyCon India 2020</a>
            <a href="https://www.youtube.com/watch?v=8yHzEUg_mX4&t=6s">Simplified Deployment into Cloud using Docker
                Desktop at OSCONF Hyderabad 2020</a>
            <a href="https://github.com/inovizz/python-for-devops">Python for DevOps Workshop at EPAM India</a>
            <a href="https://www.meetup.com/HydPyGroup/events/267936005/">Static Typing in Python at VZTecConvene, Jan
                2020</a>
        </li>
        <li>
            <h3>2019</h3>
            <a href="https://pyconf.hydpy.org/2019/index.html#schedule-section">Containarized Development using Docker
                at PyConf Hyderabad 2019</a>
            <a href="https://in.pycon.org/cfp/workshops-2019/proposals/demystifying-docker-for-devs~e9WPb/">Demystifying
                Docker for Devs at PyCon India 2019</a>
        </li>
    </ul>
</div>